@use "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@use "variables";
@use "static_styles";

#livewire-error {
    left: 0;
}

* {
    box-sizing: border-box;
}

body {
    @include variables.flex(row, flex-start, flex-start);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

.dynamic-alert {
    @include variables.flex($gap: 15px);
    @include variables.font(shabnam, normal, 17px, var(--white));
    width: auto;
    height: 50px;
    background-color: #4aa842;
    border-radius: 10px;
    position: fixed;
    top: 20px;
    left: -400px;
    z-index: 100;
    box-sizing: border-box;
    padding: 15px;
    box-shadow: 0px 9px 39px -9px #868686;
    transition: 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    i {
        // @include variables.background("/assets/manager/icons/close2.svg");
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
}

.alert-in {
    animation-name: alert-in;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

@keyframes alert-in {
    from {
        left: -300px;
    }

    to {
        left: 20px;
    }
}

.right-menu {
    @include variables.flex(column, flex-start, flex-start);
    width: 300px;
    height: 100vh;
    background-color: var(--lightblue);
    box-sizing: border-box;
    border-left: solid 1px #f2f4f4;
    padding-top: 20px;
    padding-bottom: 10px;
    scrollbar-width: thin;
    overflow-x: hidden;
    flex-shrink: 0;

    &.closed {
        .menu-title {
            svg {
                fill: gray;
            }
        }
    }

    .menu-title {
        @include variables.flex();
        @include variables.font(shabnam, 500, 22px, var(--blue));
        width: 300px;
        height: 40px;
        box-sizing: border-box;
        position: relative;
        margin: 0;
        flex-shrink: 0;

        #right-menu-btn {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 10px;
            right: 19px;
            cursor: pointer;
            fill: var(--blue);
        }
    }

    .menu-links-con {
        @include variables.flex(column, flex-start, flex-start, 5px);
        width: 300px;
        height: 100%;
        margin-top: 30px;
        overflow-y: auto;
        scrollbar-width: thin;
        position: relative;

        .menu-link {
            @include variables.flex(row, flex-start, center, 10px, nowrap);
            @include variables.font(shabnam, 300, 18px, var(--gray));
            width: 100%;
            height: 50px;
            box-sizing: border-box;
            text-decoration: none !important;
            position: relative;
            cursor: pointer;
            padding-right: 10px;
            flex-shrink: 0;
            transition: background-color 0.2s;

            &:hover {
                background-color: #d8e3e8;
            }

            .svg-con {
                @include variables.flex();
                height: 100%;
                width: 40px;
                box-sizing: border-box;
                padding: 11px;

                svg {
                    @include variables.flex();
                    all: unset;
                    fill: gray;
                }
            }
        }

        .clicked {
            color: var(--blue);

            &::after {
                content: "";
                position: absolute;
                top: 5px;
                right: 0;
                width: 5px;
                height: calc(100% - 10px);
                background-color: var(--blue);

                border: {
                    top-left-radius: 10px;
                    bottom-left-radius: 10px;
                }
            }

            .svg-con {
                svg {
                    fill: var(--blue);
                }
            }
        }
    }

    .setting-link {
        @include variables.flex(row, flex-start, center, 10px, nowrap);
        @include variables.font(shabnam, 300, 18px, var(--gray));
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        text-decoration: none !important;
        position: relative;
        cursor: pointer;
        padding-right: 10px;
        flex-shrink: 0;

        &:hover {
            background-color: #d8e3e8;
        }

        .svg-con {
            @include variables.flex();
            height: 100%;
            width: 40px;
            box-sizing: border-box;
            padding: 11px;
            flex-shrink: 0;

            svg {
                @include variables.flex();
                all: unset;
                fill: gray;
            }
        }
    }

    .logout {
        @include variables.flex(row, flex-start, center, 10px, nowrap);
        @include variables.font(shabnam, 300, 18px, var(--gray));
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        outline: none;
        text-decoration: none !important;
        position: relative;
        cursor: pointer;
        padding-right: 10px;
        flex-shrink: 0;
        color: #e74949;
        background-color: #e749493b;
        transition: color 200ms, background-color 200ms;

        &:hover {
            color: #e71c1c;
            background-color: #e749494b;
        }

        .svg-con {
            @include variables.flex();
            height: 100%;
            width: 40px;
            box-sizing: border-box;
            padding: 11px;
            flex-shrink: 0;

            svg {
                @include variables.flex();
                all: unset;
                fill: gray;
            }
        }
    }

    .clicked {
        color: var(--blue);

        &::after {
            content: "";
            position: absolute;
            top: 5px;
            right: 0;
            width: 5px;
            height: calc(100% - 10px);
            background-color: var(--blue);

            border: {
                top-left-radius: 10px;
                bottom-left-radius: 10px;
            }
        }

        .svg-con {
            svg {
                fill: var(--blue);
            }
        }
    }
}

.closed {
    width: 60px;
    scrollbar-width: none;
}

.opened-panel {
    @include variables.flex(column, $justify: flex-start);
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    position: relative;

    .inner-container {
        display: grid;
        grid-template-areas: "title";
        grid-template-rows: 100px;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100%;
        min-height: 100vh;
        height: auto;
        background-color: var(--white);
        box-sizing: border-box;
        padding: 20px;

        .section {
            @include variables.flex(column, flex-start, flex-start, 20px);
            background-color: var(--white);

            border: solid 1px var(--lightgray) {
                radius: var(--radius);
            }

            box-shadow: var(--shadow);
            box-sizing: border-box;
            padding: 20px;
            flex-shrink: 0;
            position: relative;

            .title {
                @include variables.flex($justify: flex-start);
                @include variables.font(shabnam, normal, 20px, var(--black));
                width: 100%;
                height: auto;
                margin: 0;
                flex-shrink: 0;

                +span {
                    width: fit-content;
                    height: auto;
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row-reverse;
                    gap: 10px;
                }
            }

            .guid-icon {
                width: 20px;
                height: 20px;
                position: absolute;
                top: 23px;
                left: 20px;
                color: #8b8b8b;
                font-size: 18px;

                &:hover+.guid-pannel {
                    visibility: visible;
                    opacity: 1;
                    top: 55px;
                    z-index: 100;
                }

                &:active+.guid-pannel {
                    visibility: visible;
                    opacity: 1;
                    top: 55px;
                }
            }

            .guid-pannel {
                @include variables.font(shabnam, 300, 14px, #3d3d3d);
                width: 300px;
                height: auto;
                min-height: 60px;
                position: absolute;
                line-height: 30px;
                top: 75px;
                left: 10px;
                box-sizing: border-box;
                padding: 10px;
                background-color: var(--white);

                border: solid 1px var(--lightgray) {
                    radius: var(--radius);
                }

                box-shadow: 0px 9px 30px -16px #acacac;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s;
                z-index: 2;
            }
        }

        .title-con {
            grid-area: title;
            flex-direction: row !important;
            align-items: center !important;
            justify-content: space-between !important;
            padding: 0 20px 0 30px !important;

            .title-section {
                @include variables.flex(column, flex-start, flex-start, 5px, nowrap);
                width: auto;

                .large-title {
                    @include variables.font($weight: 500, $size: 25px);
                    @include variables.flex();
                    height: 100%;
                    width: auto;
                    margin: 0;
                }

                .bread-crumb {
                    @include variables.flex();
                    @include variables.font(shabnam, 300, 14px, gray);
                    width: auto;
                    margin: 0;
                    padding: 0;
                }
            }

            .buttons-section {
                @include variables.flex(row-reverse, flex-start, flex-start, 10px, nowrap);
                width: auto;
            }

            .submit-button {
                background-color: #4964d1 !important;
                text-decoration: none !important;
                user-select: none !important;

                &.disabled {
                    background-color: #558be0 !important;
                    cursor: default;
                }
            }
        }
    }
}

.delete-confirm-message {
    @include variables.flex(column, flex-start, flex-start, $gap: 20px);
    width: auto;
    height: auto;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    z-index: 20;

    h1.title {
        @include variables.font($weight: 500, $size: 22px, $color: #bb1313);
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;

        i {
            font-size: 18px;
            color: #bb1313;
            margin-left: 10px;
        }
    }

    span.text {
        @include variables.font($weight: normal, $size: 17px);
    }

    .warning-content {
        @include variables.flex(column, flex-start, flex-start, 10px);
        @include variables.font($size: 16px);
        padding: 20px;
        width: 100%;
        height: auto;
        background-color: #ffe9d9;
        border-right: solid 8px #da3d3d;

        border: {
            top: {
                right-radius: 5px;
                left-radius: 10px;
            }

            bottom: {
                right-radius: 5px;
                left-radius: 10px;
            }
        }

        ;

        &.gray {
            background-color: #e2e2e2;
            border-color: #808080;

            .warning-title {
                color: #424242;
            }
        }

        .warning-title {
            color: #a11616;
        }

        p {
            @include variables.font($size: 15px, $color: #c25959);
            margin: 0;
            padding: 0;
            line-height: 25px;
        }
    }

    .buttons-container {
        @include variables.flex($justify: left, $gap: 10px);
        width: 100%;
        height: auto;
    }
}

.success-alert {
    @include variables.flex($gap: 8px);
    @include variables.font(shabnam, 300, 16px, var(--white));
    box-sizing: border-box;
    position: fixed;
    padding: 15px;
    width: auto;
    height: 50px;
    z-index: 20;
    top: 20px;
    right: 50%;
    transform: translateX(50%);
    background-color: #4aa842;
    box-shadow: 0 11px 30px -18px #4a4a4a;
    border-radius: 10px;
    user-select: none;

    &.enter-transition {
        transition: all 200ms ease-out;
    }

    &.enter-start {
        transform: scale(0.9);
        transform: translateX(50%) translateY(-200%);
    }

    &.enter-end {
        transform: scale(1);
        transform: translateX(50%) translateY(0);

    }

    &.leave-transition {
        transition: all 200ms ease-in;
    }

    &.leave-start {
        transform: scale(1);
        transform: translateX(50%) translateY(0);
    }

    &.leave-end {
        transform: scale(0.9);
        transform: translateX(50%) translateY(-200%);
    }

    i {
        width: 20px;
        height: 20px;
        background-color: var(--white);
        color: #4aa842;
        border-radius: 50%;
        box-sizing: border-box;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }
}

.error-alert {
    @include variables.flex($gap: 8px);
    @include variables.font(shabnam, 300, 16px, var(--white));
    box-sizing: border-box;
    position: fixed;
    padding: 15px;
    width: auto;
    height: 50px;
    z-index: 2;
    top: 20px;
    right: 50%;
    transform: translateX(50%);
    background-color: #bb1313;
    box-shadow: 0 11px 30px -18px #4a4a4a;
    border-radius: 10px;
    user-select: none;

    &.enter-transition {
        transition: all 200ms ease-out;
    }

    &.enter-start {
        transform: scale(0.9);
        transform: translateX(50%) translateY(-200%);
    }

    &.enter-end {
        transform: scale(1);
        transform: translateX(50%) translateY(0);

    }

    &.leave-transition {
        transition: all 200ms ease-in;
    }

    &.leave-start {
        transform: scale(1);
        transform: translateX(50%) translateY(0);
    }

    &.leave-end {
        transform: scale(0.9);
        transform: translateX(50%) translateY(-200%);
    }

    i {
        width: 20px;
        height: 20px;
        background-color: var(--white);
        color: #bb1313;
        border-radius: 50%;
        box-sizing: border-box;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }
}

.loading-icon {
    width: 15px;
    height: 15px;
    transform-origin: 50% 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}